{% extends "iframe/layout.twig" %}

{% block result %}
	<h3>Ошибка!</h3>
	<span>Amazon не подтвердил production доступ для используемого аккаунта,
		поэтому запрещает отправлять письма на неизвестные ему адреса. <br />
		На указанный вами email было отправлено письмо от Amazon с подтверждением адреса,
		перейдите по ссылке из него и повторите запрос — должно все сработать.
		Это сообщение никто не увидит после получения production доступа.
	</span>
{% endblock %}