<!DOCTYPE html>
<html>
<head>
	<title>Раздача кодов FIFA</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div id="page">
	<img src="/img/header.jpg" id="header" alt="Раздача кодов FIFA"/>
	{% block page %}
	{% endblock %}
	<div id="result">
		{% block result %}
		{% endblock %}
	</div>
</div>
</body>
</html>